<div id="<%= dom_id ecommerce_website %>">
  <p>
    <strong>Name:</strong>
    <%= ecommerce_website.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= ecommerce_website.url %>
  </p>

  <p>
    <strong>Access token:</strong>
    <%= ecommerce_website.access_token %>
  </p>

</div>
