<h1>Editing ecommerce website</h1>

<%= render "form", ecommerce_website: @ecommerce_website %>

<br>

<div>
  <%= link_to "Show this ecommerce website", @ecommerce_website %> |
  <%= link_to "Back to ecommerce websites", ecommerce_websites_path %>
</div>
