<h1>Editing search history</h1>

<%= render "form", search_history: @search_history %>

<br>

<div>
  <%= link_to "Show this search history", @search_history %> |
  <%= link_to "Back to search histories", search_histories_path %>
</div>
