<div id="<%= dom_id rating %>">
  <p>
    <strong>Product:</strong>
    <%= rating.product_id %>
  </p>

  <p>
    <strong>Ecommerce website:</strong>
    <%= rating.ecommerce_website_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= rating.rating %>
  </p>

</div>
